---
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "End to end life cycle management solutions from planning to optimization including Upgrades, Implementations and Support." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="font-sans bg-white text-gray-900 overflow-x-hidden">
    <slot />
  </body>
</html>
